.rod_block {
  width: 700px;
  height: 120px;
  border: 1px solid #333;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  margin-right: 20px;
  margin-left: 20px;
}

.input {
  border-radius: 4px;
}

.div_error {
  margin: 0 auto;
  width: 180px;
  border: 2px solid red;
  margin-top: 20px;
  border-radius: 8px;
}

.button {
  margin-top: 10px;
  font-size: 17px;
}

.div_info {
  font-size: 19px;
  margin-bottom: 10px;
}
